<!DOCTYPE HTML>
<!--
	Spectral by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>SUNU-COUTURE</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ asset('template/assets/css/main.css')}}" />
	</head>
	<body class="landing">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<h1><a href="#">SUNU-COUTURE</a></h1>
					</header>

				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<h2>SUNU-COUTURE</h2>
							<p>Bienvenue sur SUNU-COUTURE<br />
							la plateforme d'assistance aux tailleurs<br />
							Cliquez sur la flèche pour vous connectez.</p>
						</div>
						<a href="{{path('fos_user_security_login')}}" class="more scrolly">Connexion</a>
					</section>
				<!-- Footer -->
					<footer id="footer">
						<ul class="icons">
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
							<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
						</ul>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="{{ asset('template/assets/js/jquery.min.js')}}"></script>
			<script src="{{ asset('template/assets/js/jquery.scrollex.min.js')}}"></script>
			<script src="{{ asset('template/assets/js/jquery.scrolly.min.js')}}"></script>
			<script src="{{ asset('template/assets/js/skel.min.js')}}"></script>
			<script src="{{ asset('template/assets/js/util.js')}}"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="{{ asset('template/assets/js/main.js')}}"></script>

	</body>
</html>